*.user
/.vs
src/RailroadStationVisualizer/.vs/
src/RailroadStationVisualizer/RailroadStationVisualizer.App/bin/
src/RailroadStationVisualizer/RailroadStationVisualizer.App/obj/
src/RailroadStationVisualizer/RailroadStationVisualizer.Model/bin/
src/RailroadStationVisualizer/RailroadStationVisualizer.Model/obj/
src/RailroadStationVisualizer/RailroadStationVisualizer.UI/bin/
src/RailroadStationVisualizer/RailroadStationVisualizer.UI/obj/
src/RailroadStationVisualizer/RailroadStationVisualizer.Tests/bin/
src/RailroadStationVisualizer/RailroadStationVisualizer.Tests/obj/
